<!-- 2 level menu, render all items -->

{% for menuItem in DUKAAN_HEADER_MENU %}
  <li>

    <!-- menuTarget helper gives target value _blank based on menu item type -->
    <!-- menuLink helper generates link for that menu item based on type -->
    <a
      target="{{ menuItem | menuTarget }}"
      href="{{ menuItem | menuLink(DUKAAN_BASE_URL) }}"
    >
      {{ menuItem.label }}
      {% if menuItem.child.length > 0 %}
      <p> > </p>
      <div>
        {% for child in menuItem.child %}
          <a target="{{ child | menuTarget }}"
             href="{{ child | menuLink(DUKAAN_BASE_URL) }}">
            {{ child.label }}
          </a>
        {% endfor %}
      </div>
      {% endif %}
    </a>
  </li>
{% endfor %}
